@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto'; 
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1F2937;
    color: #f9faf8; 
    font-size: 24px; 
    display: flex; 
    justify-content: space-around;
} 
ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%; 
    display: flex; 
    font-size: 18px;
    color: #e5e7eb; 
    gap: 15px; 
} 
.top {
    background-color: #1F2937; 
    color:#f9faf8;
    font-size: 48px;
   /* font-weight: 900; */ 
}
.subtext {
    font-size: 18px;
    color:#e5e7eb;
}